<!DOCTYPE html>
<html>

  <head>
    <title>LTF POC</title>
      </head>




  <body>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <div style="text-align: center;">
      <h1>Welcome to LTF-POC</h1>
    </div>
    <div class="col-sm-4">
      <div class="panel">
        <div class="panel-body">
          <div style="text-align: center;">
            <!--<a href="#" role="button" class="btn btn-default">View details</a>-->
            <button id="Authorize" role="button" class="btn btn-primary">Authorize</button>
          </div>
        </div>
      </div>
    </div>
<div id="info">hi there</div>

    <script type="text/javascript" src="/javascripts/index.js"></script>

  </body>

</html>
