body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

}

body{
    background-image: url(/images/IMG_0406.jpg); 
  background-repeat:no-repeat;
  background-size:100% 300%;

  
}



a {
  color: #00B7FF;
}



